
.reveal section img {
    border: 0;
}




.footer {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.footer a {
    font-size: 10px;
}



.text-small {
    font-size: small;
}

.text-small li {
    font-size: small;
}



#kafka-logs + p img  {
    width: 50%;
    height: 50%;
}

#zastosowania + p img  {
    width: 75%;
    height: 75%;
}

#data-copying ~ div img  {
    width: 80%;
    height: 80%;
}

#context-switching ~ div img  {
    width: 80%;
    height: 80%;
}