
.reveal section img {
    border: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 10px;
}

.footer a {
    font-size: 10px;
}




#kafka-logs + p img  {
    width: 50%;
    height: 50%;
}

#data-copying + div img  {
    width: 50%;
    height: 50%;
}