
.reveal section img {
    border: 0;
    max-width: 50%;
    max-height: 50%;
}




.footer {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.footer a {
    font-size: 10px;
}



.imagecentersize50 img {
    width: 50%;
    height: 50%;
}

.imagecentersize75 img {
    width: 75%;
    height: 75%;
}